/* 
* @Author: 詹庆华
* @Date:   2018-12-27 08:08:24
* @Last Modified by:   詹庆华
* @Last Modified time: 2018-12-27 10:10:00
*/
@charset "utf-8";
body,ul,ol,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
ul,ol{list-style: none;}
img{border: none; vertical-align: top;}
a{text-decoration: none;}

.clearfix:after,.clearfix:before{content: "";display: table;}
.clearfix:after{clear: both;}
.clearfix{*zoom:1;}

.gWidth{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
